/* slides  */

.slider {
    margin: 0;
    padding: 0;
    width: 0;
    height: 100vh;
    display: flex;
    
    margin-left: 165px;
    width: 800px;
    height: 400px;
    overflow: hidden;
  }
  
  .slides{
    width: 400%;
    height: 400px;
    display: flex;
  }
  
  .slides input{
    display: none;
  }
  
  .slide{
    /* width: 25%; */
    position: relative;
  }
  
  .slide img{
    width: 800px; 
  }
  
  .manual_navegation{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-self: center;
    
  }
  
  .manual-btn{
    border: 2px solid rgb(102, 1, 1);
    padding: 3px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    margin-top: 420px;
  
  }
  
  .manual-btn:not(:first-child){
    margin-right: 40px;
    margin-left: 100px;
  
  }
  .manual-btn:not(:last-child){
    margin-right: 40px;
    margin-left: 100px;
  
  }
  
  .manual-btn:hover{
    background-color: #5e09a8;
  }
  
  #radio1:checked ~ .first{
    margin-left: 0;
  }
  
  #radio2:checked ~ .first{
    margin-left: -25%;
  }
  
  #radio3:checked ~ .first{
    margin-left: -50%;
  } 
  
  #radio4:checked ~ .first{
    margin-left: -75%;
  } 
  
  #radio1:checked ~ .manual_navegation .auto_btn1{
    background-color: #fff;
  }
  #radio2:checked ~ .navegation-auto .auto-btn2{
    background-color: #fff;
  }
  #radio3:checked ~ .navegation-auto .auto-btn3{
    background-color: #fff;
  }
  #radio4:checked ~ .navegation-auto .auto-btn4{
    background-color: #fff;
  }