@font-face {
    font-family: psycho;
    src: url(font/psycho/PSYCHO\ PERSONAL\ USE-SVG.otf) format('opentype'), url(font/psycho/PSYCHO\ PERSONAL\ USE-SVG.otf) format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  .text {
    font-family: 'psycho';
  }

  .titulo{
    font: size 500px;
    font-family: 'psycho';
  }