.button {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px; /* Espaço acima dos botões */
    margin-bottom: 20px;
    margin-left: 50px;
  }
  
  /* Estilo dos botões */
  .button button {
    background-color: #570055; /* Cor de fundo */
    border: 2px solid #8b0aa4; /* Borda */
    border-radius: 12px; /* Cantos arredondados */
    padding: 5px 10px; /* Espaçamento interno ajustado */
    font-size: 12px; /* Tamanho da fonte reduzido */
    color: #f8f8f8; /* Cor do texto */
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer; /* Cursor de ponteiro */
    width: 100px; /* Largura fixa reduzida */
    transition: all 0.3s ease; /* Transição suave para efeitos */
    text-align: center; /* Alinhar o texto ao centro */
    height: 50px;
    
  }
  
  /* Efeito de hover */
  .button button:hover {
    background-color: #570055; /* Cor de fundo ao passar o mouse */
    color: #ffffff; /* Cor do texto ao passar o mouse */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
  }
  
  /* Efeito de clique */
  .button button:active {
    transform: scale(0.98); /* Leve redução de tamanho */
  }

  /* botao formulario */
  button {
    background-color: #3d043a;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #5e09a8;
  }
  
  small {
    display: block;
    margin-top: -8px;
    margin-bottom: 10px;
    color: rgb(119, 0, 255)
  }

  /*  botao do index */

  .botao {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px; /* Espaço acima dos botões */
    margin-bottom: 20px;
    margin-right: 200px;
  }
  
  /* Estilo dos botões */
  .botao button {
    background-color: #570055; /* Cor de fundo */
    border: 2px solid #8b0aa4; /* Borda */
    border-radius: 12px; /* Cantos arredondados */
    padding: 5px 10px; /* Espaçamento interno ajustado */
    font-size: 12px; /* Tamanho da fonte reduzido */
    color: #f8f8f8; /* Cor do texto */
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer; /* Cursor de ponteiro */
    width: 100px; /* Largura fixa reduzida */
    transition: all 0.3s ease; /* Transição suave para efeitos */
    text-align: center; /* Alinhar o texto ao centro */
    height: 50px;
    
  }
  
  /* Efeito de hover */
  .botao button:hover {
    background-color: #570055; /* Cor de fundo ao passar o mouse */
    color: #ffffff; /* Cor do texto ao passar o mouse */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
  }
  
  /* Efeito de clique */
  .botao button:active {
    transform: scale(0.98); /* Leve redução de tamanho */
  }

  /* botao dos ticktes, index */
  .btn {
    display: block;
    padding: 8px 24px;
    margin: 10px auto;
    font-size: 1.1rem;
    font-weight: 500;
    outline: none;
    text-decoration: none;
    color: #000000;
    background: rgba(48, 17, 114, 0.51);
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    cursor: pointer;
  }
  
  .btn:hover,
  .btn:focus,
  .btn:active,
  .btn:visited {
    transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
    animation: gelatine 0.5s 1;
  }
  


  



